<section class="counter-container">
  <div id="counter-number" class="counter-number">0</div>
  <button class="counter-button" type="button" name="button" id="counter-add">+</button>
  <button class="counter-button" type="button" name="button" id="counter-subtract">-</button>
</section>
